@import '../../variables';

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: $color-main;
  border-radius: 3px;
  box-shadow: $shadow;
}

.error-img {
  height: 100px;
  margin-right: 20px;
}

.error-txt {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: rgb(74, 71, 71);
}
