$color-main: rgba(255, 255, 255, 1);
$color-secondary: rgba(235, 238, 243, 1);
$color-decorative: rgba(82, 196, 26, 1);

$color-text: rgba(0, 0, 0, 0.85);
$color-text--decorative: rgba(24, 144, 255, 1);
$color-text--muted: rgba(0, 0, 0, 0.5);

$color-border: rgba(217, 217, 217, 1);

$shadow: 0px 0px 25px 1px rgba(21, 46, 27, 0.2);

$font-family: 'Inter', 'system-ui', 'sans-serif';

$screen-md: 768px;
